.sidebar{
   background-image: linear-gradient(#ffd89b , #19547b);
    position: fixed;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}
.sidebar>ul>li Link{
    text-decoration: none;
}
